
<div class='container' ng-controller="TodoController as vm" id="tasker" class="tasker">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                    <p class="task">Tasks pending: {{vm.tasks.length>0?vm.tasks.length:0}} </p>
            </div>
            <div class="col-sm-4"></div>
            
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">

                    <div id="tasker-header" class="tasker-header">
                        
                           
                            <input ng-keyup="$event.keyCode == 13 ? vm.addTask() : null"
                            type="text" id="input-task" style="color:black;" ng-model="vm.newTask"placeholder="Enter a task"
                            autofocus>
                            <button ng-click="vm.addTask()" id="add-task-btn"><i class="fa fa-fw fa-plus"></i>
                            </button>
                    </div>
            </div>
            <div class="col-sm-4"></div>
        </div>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            	<div class="tasker-body">
                        <ul id="tasks">
                            
                            <li style="cursor:pointer" ng-class="{isEditing:t == vm.editedTodo,task:true}" ng-repeat="t in vm.tasks track by $index" >
                               <div  class="view" ng-dblclick="vm.editTodo(t)">
                                    <input type="checkbox" style="opacity:0; position:absolute; ">
                                    <label style="cursor:pointer" >{{t.task}}</label>
                                    
                               </div>
                               <button ng-click="vm.removeTask($index,t.post)">
                                    <i style="cursor:pointer" class="fa fa-trash"></i>
                                </button>
                                <form ng-submit="vm.saveEdits(t)">
                                        <input class="edit"  ng-model="vm.editedText"  ng-blur="vm.saveEdits(t)" autofocus>
                                </form>
                            </li>
                        </ul>
                    </div>
        </div>
        <div class="col-sm-4"></div>
    </div>

</div>